@model List<DrivingSchoolModel>

@{
    ViewData["Title"] = "Автошколи";
    int schoolsCount = Model.Count();
    bool breaker = true;
}

<div class="ds-container">
    <div class="search-container">
        <input type="text" placeholder="&#xf002;" />
    </div>

    <div class="basic-container">
        @for (int i = 0; i < schoolsCount && breaker; i += 4)
        {
            <section class="row-container">
                @for (int j = 0; j < 4 && breaker; j++)
                {
                    if (i + j == schoolsCount - 1)
                    {
                        breaker = false;
                    }
                    <article class="card">
                        <div class="ds-logo">
                            <img src="@Model[i+j].LogoImg" alt="Logo" />
                        </div>
                        <div class="ds-info">
                            <ul class="info-icons">
                                <li><i class="fa-solid fa-school"></i></li>
                                <li><i class="fa-solid fa-location-pin"></i></li>
                                <li><i class="fa-solid fa-phone"></i></li>
                            </ul>
                            <ul class="ul-info">
                                <li>@Model[i+j].Name</li>
                                <li>@Model[i+j].Town , @Model[i+j].Address</li>
                                <li>@Model[i+j].PhoneContact</li>
                                @* <li>
                        <label asp-for="@Model[i+j].EducationCategories"></label>
                        <p>@string.Join(", ", Model[i+j].EducationCategories)</p>
                        </li>*@
                            </ul>
                        </div>
                    </article>
                }
            </section>
        }
    </div>
</div>
