@model LoginModel

@{
    ViewData["Title"] = "Влез";
}

<section class="form-container">
    <h1 class="form-head">@ViewData["Title"]</h1>

    <form method="post" asp-area="" asp-controller="User" asp-action="Login">
        <div class="form-main-content">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label>Потребителско име</label>
                <input asp-for="@Model.Username" autocomplete="username" aria-required="true" />
                <span asp-validation-for="@Model.Username"></span>
            </div>
            <div>
                <label>Парола</label>
                <input asp-for="@Model.Password" type="password" autocomplete="current-password" aria-required="true" />
                <span asp-validation-for="@Model.Password"></span>
            </div>
        </div>
        <div>
            <button class="submit login" type="submit">Влез</button>
        </div>
    </form>
</section>