@model ProvidedEmailModel

@{
    ViewData["Title"] = "Регистрация";
}

<section class="form-container">
    <h1 class="form-head">Регистрация</h1>

    <form method="post" asp-area="" asp-controller="User" asp-action="ProvidedEmail">
        <div class="form-main-content">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="@Model.DrivingSchoolId">Изберете вашата Автошкола</label>
                <select asp-for="@Model.DrivingSchoolId">
                    @foreach (var drivingSchool in @Model.DrivingSchools)
                    {
                        <option value="@drivingSchool.Id">@drivingSchool.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.DrivingSchoolId"></span>
            </div>
            <div>
                <label asp-for="@Model.Email">
                    Въведете имейла предоставен от вас на автошколата
                </label>
                <input autocomplete="username" aria-required="true" asp-for="@Model.Email" />
                <span asp-validation-for="@Model.Email"></span>
            </div>
        </div>
        <div>
            <button class="submit register" type="submit">Напред</button>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
