@model RegisterModel

@{
    ViewData["Title"] = "Регистрация";
}

<section class="form-container">
    <h1 class="form-head">@ViewData["Title"]</h1>

    <form asp-area="" asp-controller="User" asp-action="Register" method="post">
        <div class="form-main-content">
            <input type="hidden" asp-for="@Model.AccountId">
            <div>
                <label>Автошкола: @Model.DrivingSchoolName</label>
                <input type="hidden" asp-for="@Model.DrivingSchoolName">
            </div>
            <div>
                <label>Имейл: @Model.Email</label>
                <input type="hidden" asp-for="@Model.Email">
            </div>
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="@Model.FirstName">Собствено име</label>
                <input aria-required="true" asp-for="@Model.FirstName" />
                <span asp-validation-for="@Model.FirstName"></span>
            </div>
            <div>
                <label asp-for="@Model.MiddleName">Бащино име</label>
                <input aria-required="true" asp-for="@Model.MiddleName" />
                <span asp-validation-for="@Model.MiddleName"></span>
            </div>
                <div>
                <label asp-for="@Model.LastName">Фамилно име</label>
                <input aria-required="true" asp-for="@Model.LastName" />
                <span asp-validation-for="@Model.LastName"></span>
            </div>
            <div>
                <label asp-for="@Model.PhoneNumber">Телефон</label>
                <input aria-required="true" asp-for="@Model.PhoneNumber" />
                <span asp-validation-for="@Model.PhoneNumber"></span>
            </div>
            <div>
                <label asp-for="@Model.Username">Потребителско име</label>
                <input autocomplete="username" aria-required="true" asp-for="@Model.Username" />
                <span asp-validation-for="@Model.Username"></span>
            </div>
            <div>
                <label asp-for="@Model.Password">Парола</label>
                <input type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.Password" />
                <span asp-validation-for="@Model.Password"></span>
            </div>
            <div>
                <label asp-for="@Model.ConfirmPassword">Потвърдете Паролата</label>
                <input type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.ConfirmPassword" />
                <span asp-validation-for="@Model.ConfirmPassword"></span>
            </div>
        </div>
        <div>
            <button class="submit register" type="submit">Регистрирай се</button>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
