@using DrivingSchoolSystem.Core.Models.Course
@model IEnumerable<CourseModel>

@{
    ViewData["Title"] = "Всички Курсове";
}

<div class="align-self-stretch mt-5 w-75">
    <h1>Администрация - @ViewData["Title"]</h1>

    <table class="table table-danger text-center mt-3">
        <thead>
            <tr>
                <th scope="col">Категория</th>
                <th scope="col">Дата на започване</th>
                <th scope="col">Админ</th>
                <th scope="col">Телефон за връзка</th>
                <th scope="col">Дата на създаване</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td>@course.CategoryName</td>
                    <td>@course.StartDate</td>
                    <td>@course.AdminFullName</td>
                    <td>@course.AdminPhone</td>
                    <td>@course.CreatedOn</td>
                </tr>
            }
        </tbody>
    </table>
</div>