@model CourseServiceModel

@{
    ViewData["Title"] = "Редактиране на курс";
}

<div class="align-self-start w-80">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form id="registerForm" asp-area="Admin" asp-controller="Course" asp-action="Edit" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.Id" />
                <input type="hidden" asp-for="@Model.ManagerId" />
                <div class="text-center mb-3">
                    <label class="fs-4 mb-2" asp-for="@Model.StartDate">Дата на започване</label>
                    <input type="date" class="form-control" aria-required="true" asp-for="@Model.StartDate" />
                </div>
                <div class="text-center mb-3">
                    <label class="fs-4 mb-2" asp-for="@Model.Categories">Категория:</label>
                    <br />
                    <div class="d-flex justify-content-center fw-bold">
                        @foreach (var category in Model.Categories)
                        {
                            <span class="ms-4 me-4">
                                <input class="w-100" type="radio" asp-for="@Model.CategoryId"
                                   value="@category.Id" />
                                <label asp-for="@Model.CategoryId">@category.Name</label>
                                <br />
                            </span>
                        }
                    </div>
                </div>
                <div class="text-center">
                    <button id="registerSubmit" type="submit" class="btn btn-primary">
                        Запази промените
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>