@model AccountEditServiceModel

@{
    ViewData["Title"] = "Акаунт редактиране";
}

<div class="align-self-stretch w-80">
    <div class="text-start mt-3 bg-danger p-3">
         <form method="post" asp-area="Admin" asp-controller="Account" asp-action="Edit">
            <div class="bg-warning p-3">
                <h1 class="text-center">Редактиране на @Model.RoleName</h1>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.Id"/>
                <input type="hidden" asp-for="@Model.RoleName"/>
                <div class="mb-3 fs-5">
                    <label class="fw-bold" asp-for="@Model.Email"></label>
                    <input class="ml-2" asp-for="@Model.Email" />
                </div>
                <div class="mb-3 fs-5">
                    <label class="fw-bold" asp-for="@Model.FirstName"></label>
                    <input class="ml-2" asp-for="@Model.FirstName" />
                </div>
                <div class="mb-3 fs-5">
                    <label class="fw-bold" asp-for="@Model.MiddleName"></label>
                    <input class="ml-2" asp-for="@Model.MiddleName" />
                </div>
                <div class="mb-3 fs-5">
                    <label class="fw-bold" asp-for="@Model.LastName"></label>
                    <input class="ml-2" asp-for="@Model.LastName" />
                </div>
                <div class="mb-3 fs-5">
                    <label class="fw-bold" asp-for="@Model.PhoneNumber"></label>
                    <input class="ml-2" asp-for="@Model.PhoneNumber" />
                </div>
                <div class="mb-3 fs-5">
                    @if (Model.Categories.Count > 0)
                    {
                        <label class="fw-bold" asp-for="@Model.Categories"></label>
                        @for (int i = 0; i < @Model.Categories.Count(); i++)
                        {
                            <span class="d-block">
                                <input asp-for="@Model.Categories[i].IsMarked">
                                <label asp-for="@Model.Categories[i].IsMarked">@Model.Categories[i].Name</label>
                            </span>
                            <input type="hidden" asp-for="@Model.Categories[i].Id" />
                            <input type="hidden" asp-for="@Model.Categories[i].Name" />
                        }
                    }
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-danger">
                        Запази Промените
                    </button>
                </div>
            </div>
        </form>
    </div>

    <hr />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}