@using DrivingSchoolSystem.Core.Models.Account
@model RegisterViewModel

@{
    ViewData["Title"] = "Регистрация";
    Layout = "_HomePageLayout";
    ViewBag.StatusMessage = Model.IsDisplay 
        ? "Благодаря за потвържаването на имейла." : "Грешка при потвържаването на имейла.";
}

@if (Model.IsDisplay)
{
    var statusMessageClass = Model.IsDisplay ? "success" : "danger";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ViewBag.StatusMessage
    </div>

    <h1 class="text-center">@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form asp-contrller="Account" asp-action="Register" id="registerForm" method="post">
                <hr />
                <input type="hidden" asp-for="@Model.IsDisplay">
                <div class="text-center mb-3">
                    <label>Автошкола: @Model.DrivingSchoolName</label>
                    <input type="hidden" asp-for="@Model.DrivingSchoolName">
                </div>
                <div class="text-center mb-3">
                    <label>Имейл: @Model.Email</label>
                    <input type="hidden" asp-for="@Model.Email">
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="text-center mb-3">
                    <label asp-for="@Model.Username">Потребителско име</label>
                    <input class="form-control " autocomplete="username" aria-required="true" asp-for="@Model.Username" />
                    <span asp-validation-for="@Model.Username" class="text-danger"></span>
                </div>
                <div class="text-center mb-3">
                    <label asp-for="@Model.Password">Парола</label>
                    <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.Password" />
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="text-center mb-3">
                    <label asp-for="@Model.ConfirmPassword">Потвърдете Паролата</label>
                    <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.ConfirmPassword" />
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <button id="registerSubmit" type="submit" class="btn btn-primary">
                        Регистрирай се
                    </button>
                </div>
            </form>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
