@model DrivingSchoolAddServiceModel

@{
    ViewData["Title"] = "Добавяне на автошкола";
    ViewBag.GenerateId = 0;
}

<div class="mb-auto mt-auto w-80">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <form id="registerForm" asp-area="Admin" asp-controller="DrivingSchool" 
    asp-action="Add" method="post">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="container w-100">
            <div class="row justify-content-center">
                <div class="col me-2">
                    <h2>Автошкола</h2>
                    <div class="text-center mb-3">
                        <label asp-for="@Model.DrivingSchool.Name"></label>
                        <input class="form-control" aria-required="true" asp-for="@Model.DrivingSchool.Name" />
                    </div>
                    <div class="text-center mb-3">
                        <label asp-for="@Model.DrivingSchool.Town"></label>
                        <input class="form-control" aria-required="true" asp-for="@Model.DrivingSchool.Town" />
                    </div>
                    <div class="text-center mb-3">
                        <label asp-for="@Model.DrivingSchool.Address"></label>
                        <input class="form-control" aria-required="true" asp-for="@Model.DrivingSchool.Address" />
                    </div>
                    <div class="text-center mb-3">
                        <label asp-for="@Model.DrivingSchool.PhoneContact"></label>
                        <input class="form-control" aria-required="true" asp-for="@Model.DrivingSchool.PhoneContact" />
                    </div>
                    <div class="d-flex flex-column">
                        <label asp-for="@Model.DrivingSchool.EducationCategories"></label>
                        @for (int i = 0; i < @Model.DrivingSchool.EducationCategories.Count(); i++)
                        {
                            <input asp-for="@Model.DrivingSchool.EducationCategories[i].IsMarked">
                            <label asp-for="@Model.DrivingSchool.EducationCategories[i].IsMarked">
                                @Model.DrivingSchool.EducationCategories[i].Name
                            </label>
                            <input type="hidden" asp-for="@Model.DrivingSchool.EducationCategories[i].Id" />
                            <input type="hidden" asp-for="@Model.DrivingSchool.EducationCategories[i].Name" />
                        }
                    </div>
                </div>
                <div class="col-6 ms-2">
                    <h2>Мениджър на автошколата</h2>
                    <div class="text-center mb-3">
                    <label asp-for="@Model.Manager.Email"></label>
                        <input class="form-control" aria-required="true" asp-for="@Model.Manager.Email" />
                    </div>
                <div class="text-center mb-3">
                        <label asp-for="@Model.Manager.FirstName"></label>
                        <input class="form-control " aria-required="true" asp-for="@Model.Manager.FirstName" />
                    </div>
                <div class="text-center mb-3">
                        <label asp-for="@Model.Manager.MiddleName"></label>
                        <input class="form-control" aria-required="true" asp-for="@Model.Manager.MiddleName" />
                    </div>
                <div class="text-center mb-3">
                        <label asp-for="@Model.Manager.LastName"></label>
                        <input class="form-control" aria-required="true" asp-for="@Model.Manager.LastName" />
                    </div>
                <div class="text-center mb-3">
                        <label asp-for="@Model.Manager.PhoneNumber"></label>
                        <input class="form-control" aria-required="true" asp-for="@Model.Manager.PhoneNumber" />
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button id="registerSubmit" type="submit" class="btn btn-primary">
                    Добави
                </button>
            </div>
        </div>
        <hr/>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
