@model DrivingSchoolServiceModel

@{
    ViewData["Title"] = "Редактиране - Автошкола Профил";
}

<div class="align-self-stretch w-80">
    <div class="text-start mt-3 bg-danger p-3">
        <form method="post" asp-area="Admin" asp-controller="DrivingSchool" asp-action="Edit">
            <div class="bg-warning p-3 row">
                <h1 class="text-center">@ViewData["Title"]</h1>
                <hr/>
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="col">
                    <h2>Автошколата</h2>
                    <input type="hidden" asp-for="@Model.DrivingSchool.Id" />
                    <div class="mb-3 fs-5 ">
                        <label class="fw-bold" asp-for="@Model.DrivingSchool.Name">Име: </label>
                        <input asp-for="@Model.DrivingSchool.Name" />
                    </div>
                    <div class="mb-3 fs-5">
                        <label class="fw-bold" asp-for="@Model.DrivingSchool.Town">Град: </label>
                        <input asp-for="@Model.DrivingSchool.Town" />
                    </div>
                    <div class="mb-3 fs-5">
                        <label class="fw-bold" asp-for="@Model.DrivingSchool.Address">Адрес: </label>
                        <input asp-for="@Model.DrivingSchool.Address" />
                    </div>
                    <div class="mb-3 fs-5">
                        <label class="fw-bold" asp-for="@Model.DrivingSchool.PhoneContact">Контакт: </label>
                        <input asp-for="@Model.DrivingSchool.PhoneContact" />
                    </div>
                    <div class="mb-2 fs-5">
                        <label class="fw-bold" asp-for="@Model.DrivingSchool.EducationCategories">Обучаващи категории: </label>
                        @for (int i = 0; i < @Model.DrivingSchool.EducationCategories.Count(); i++)
                        {
                            <span class="d-block">
                                <input asp-for="@Model.DrivingSchool.EducationCategories[i].IsMarked">
                                <label asp-for="@Model.DrivingSchool.EducationCategories[i].IsMarked">
                                    @Model.DrivingSchool.EducationCategories[i].Name
                                </label>
                            </span>
                            <input type="hidden" asp-for="@Model.DrivingSchool.EducationCategories[i].Id" />
                            <input type="hidden" asp-for="@Model.DrivingSchool.EducationCategories[i].Name" />
                        }
                    </div>
                </div>
                @if (User.IsInRole(RoleConstant.Admin))
                {
                    <div class="col">
                        <h2>Мениджър</h2>
                        <div class="text-center mb-3">
                            <label asp-for="@Model.Manager.Email"></label>
                            <input class="form-control" aria-required="true" asp-for="@Model.Manager.Email" />
                        </div>
                        <div class="text-center mb-3">
                            <label asp-for="@Model.Manager.FirstName"></label>
                            <input class="form-control " aria-required="true" asp-for="@Model.Manager.FirstName" />
                        </div>
                        <div class="text-center mb-3">
                            <label asp-for="@Model.Manager.MiddleName"></label>
                            <input class="form-control" aria-required="true" asp-for="@Model.Manager.MiddleName" />
                        </div>
                        <div class="text-center mb-3">
                            <label asp-for="@Model.Manager.LastName"></label>
                            <input class="form-control" aria-required="true" asp-for="@Model.Manager.LastName" />
                        </div>
                        <div class="text-center mb-3">
                            <label asp-for="@Model.Manager.PhoneNumber"></label>
                            <input class="form-control" aria-required="true" asp-for="@Model.Manager.PhoneNumber" />
                        </div>
                    </div>
                }
                <div class="text-end">
                    <button type="submit" class="btn btn-danger">
                        Запази Промените
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}